@{
    ViewBag.Title = "givendonation";
}
@using final.Models;

<body class="signin container">
    <div id="desc" class="des pull-center locate" style="width:700px ;">
        <table class="table table-striped">
            <thead>
                <tr class="text-center ">
                    <td>
                        <h2><label class="pull-center"> Given Donations </label></h2>
                    </td>
                </tr>
            </thead>
            <tbody style="font-family:Narkisim; color:#0094ff">

                @foreach( Fund f in Model)
                {
                    <tr>
                    <td>
                        <h4>Ngo ID   : @f.user1.name </h4>
                        <h4>Card #   : @f.Credit_card</h4>
                        <h4>Ammount  : @f.Ammount</h4>
                        <hr />
                    </td>
                </tr>
                    
                }
                

            </tbody>

        </table>

    </div>
   
    

</body>
