@{
    ViewBag.Title = "welcome";
}

<body class="fundsbackground container">
    <div style="padding-right:400px; padding-left:400px ; padding-top:400px"></div>
    <div class="locate text-center">
        <h1 style="color:lightgoldenrodyellow; font-family:Narkisim">Welcome! </h1>
        <h5 style="color:lightgoldenrodyellow">

            you are welcome to you_can_give where u can search any donate to any NGOs and can see person for Zakat...
        </h5>
        <hr />
        <p class="pull-center">
            <a href="/home">go to home page and sign in</a>
        </p>

    </div>



</body>
