@{
    ViewBag.Title = "about";
}
<!DocType html>
<html>
<body class="container" style="background-color:black; position:relative">
    <h4 style="font-family: Narkisim; padding-top: 100px; color: #104368; font-size: 25px">ABOUT US</h4>
    <div class="about pull-left" style=" width:700px;">
        <div style="font-family: Narkisim; color: ThreeDDarkShadow; font-size:15px">
            <p style="font-family: Narkisim; color: ThreeDDarkShadow; font-size:15px">
                In this platform as u know NGOs providing services of health and education for the poor and needy in Pakistan.
                <br />
                The major activities of ngos includes provision of health care through hospitals and maternal and child health centers.
            </p>
            <p style="font-family: Narkisim; color: ThreeDDarkShadow; font-size:15px">
                In addition education for children is provided through formal and informal schools.
                <br />
                Vocational centers provide computers and vocational training for youth.

        </div>
        <h4 style="font-family: Narkisim; color:#104368; font-size:25px">Our Vision:</h4>
        <p style="font-family: Narkisim; color: ThreeDDarkShadow; font-size:15px">A well educated and healthy society where any people can donate and can search a person by location.</p>
        <p style="font-family: Narkisim; color: ThreeDDarkShadow; font-size:15px">In purpose to get information people living in his near by.</p>

        <h4 style="font-family: Narkisim; color: #104368; font-size: 25px">Our mission:</h4>
        <p style="font-family: Narkisim; color: ThreeDDarkShadow; font-size:15px">
            To develop a society in which individuals are aware of the basic right and are provided with equal
            opportunities to access health and educational facilities.
        </p>
    </div>
    <div class="img pull-right">
        <img src="~/Content/1.jpg" width="400" height="300" alt=" no display" style="padding-right:100px" />
    </div>

</body>

</html>