@{
    ViewBag.Title = "ContactUs";
}

<!DOCTYPE html>
<html>
<body class="contact container" style="font-family: Narkisim;  position:relative">
    <table>
        <tr>
            <td>

                <div style="position: relative;">
                    <h3 style=" color:#b60505; padding-top: 100px; font-size: 30px">CONTACT US</h3>

                   <form action="/Home/submitcomment" method="post" style=" border-color: wheat; border: double; font-family: Narkisim; font-size: 15px; padding-top: 30px; margin: 20px; background-color: black; opacity: 0.6; filter: alpha(opacity=60);" class=" form-group" >
                        <div style="width: 500px; padding-left:50px ; color:#104368" >


                            <p>NAME </p>
                            <p><input type="text" name="Name" style=" width:350px" required class="form-control" /><br /></p>
                            <p>EMAIL</p>
                            <p><input type="text" name="Email" style=" width:350px;" required class="form-control" /><br /></p>
                            <p>SUBJECT</p>
                            <p><input type="text" name="Subject" style=" width:350px;" required class="form-control" /><br /></p>
                            <p>MESSAGE </p>
                            <p><textarea name="Comment" style=" width:350px; height :100px" required class="form-control" ></textarea>
                             </p><br />
                            <p class="pull-right"><input type="submit" value="Submit" class="btn btn-primary btn-lg" style="color:black;"></p>
                        </div>
                    </form>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="width: 300px; color:black;">
                    <h4 style="color: #104368; ">MAILING ADDRESS</h4>
                    <h5>rabay4bhatti@gmail.com</h5>
                    <h5 class="text-center">
                        Global Domains International, Inc 701 Palomar Airport Road #300 Carlsbad, CA 92011
                        LAHORE.
                    </h5>
                </div>
            <td />
            </tr>
            <tr>
            <td>
                <div style="width: 300px; color: black;">
                    <h4 style="color: #104368; ">FRIENDLY SUPPORT</h4>
                    <h4>Voice:</h4>
                    <h5> 1-760-602-3000 (M-F 8:00-15:00 PST)<br /></h5>
                    <h5> Fax: 1-760-602-3099 </h5>
                </div>
            </td>
                <tr>
        </tr>

    </table>



</body>
</html>
