@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<header>

    <script>src = "~/bootstrap.js"</script>
    <script> src = "~/bootstrap.min.js"</script>
    <script> src = "~/jquery.min.js"</script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="Content/internel/css/bootstrap.css" rel="stylesheet" />
   
</header>
<html>

<body class="fundsbackground container" style="background-image: url(~/7.jpg); background-size: cover">

    <div id="myCarousel" class="carousel slide" style="padding-top:100px" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="~/Content/slider1.jpg" alt="no pic">
            </div>

            <div class="item">
                <img src="~/Content/islam.jpg" alt="no pic">
            </div>

            <div class="item">
                <img src="~/Content/slider3.jpg" alt="no pic">
            </div>

            <div class="item">
                <img src="~/Content/slider4.jpg" alt="no pic">
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div>
        <h3 style="font-size: 40px; padding-top: 100px; font-family: narkisim; color:ThreeDShadow ; ">
            You-Can-Give
        </h3>
        <hr style="color:#808080 " />
    </div>

    <div>
        <h2 class=" text-center" style=" font-style: italic; font-family:'Times New Roman'; padding-top: 200px; color: #b66d13;">
            “Every time you do a good deed you shine the light a little farther into the dark. And the thing is, when you're gone that light is going to keep shining on, pushing the shadows back.”
        </h2>
        <h3 class="ak pull-right" style="font-style: oblique; padding-top: 5px; color: #19765d; ">
            ― Charles de Lint
        </h3>
    </div>


    <div style="position: relative; padding-top: 200px; ">
        <table cellspacing="100" cellpadding="200">
            <tbody>
                <tr>

                    <td width="400px" style="background-color:#050505">
                        <a href="/Home/location"><h3 style="color:#c13636; padding-top:15px" class=" text-center">SEARCH PEOPLE FOR ZAKAT</h3></a>
                        <hr />
                        <h6 style="color:#808080">
                            Zakat is the 3rd of the five pillars of Islam. If one possesses a certain level of wealth, called Nisab, payment of Zakah becomes obligatory.
                            So, at current rates, if the total of one's assets like cash, gold, silver, shares etc is £250, one should pay 2.5% as Zakah on all assets.
                        </h6>
                        <h6 style="color: #808080">
                            Islamic Aid uses 100% of Zakah and other donations to help make immediate and long-term improvements to their lives of people affected by poverty,
                            war and disaster by providing people with food and water; healthcare and the skills and means to help start earning a decent living.
                        </h6>
                        <img src="~/Content/help.jpg" width="400" height="340" />
                    </td>

                    <td width="400px" style="background-color:#050505"></td>

                    <td width="400px" style="background-color:#050505">
                        <a href="/Home/funds"><h3 style="color:#c13636;" class=" text-center">DONATE FUNDS TO NGOs</h3></a>
                        <hr />
                        <h6 style="color:#808080">
                            We all learn in school that the judicial, legislative and executive branches of government must check
                            and balance each other. But other non state institutions must participate in this important system of checks and
                            balances as well. These checking institutions include the academy, the media, religious institutions and NGOs.
                        </h6>
                        <h6 style="color: #808080">
                            Obesity is a societal issue. We have to come together with government,
                            business, civil society, and NGOs to create solutions for this.
                        </h6>
                        <img src="~/Content/ngo3.png" height="370" width="400" />
                    </td>


                </tr>
            </tbody>
        </table>
    </div>



    <div style="padding-top: 100px;">
        <table style="font-family:Narkisim">
            <tbody>
                <tr>
                    <td width="700px" height="400px">
                        <img src="~/Content/whatwedo.jpg" style=" width:700px ; height:400px " />
                    </td>
                    <td width="400px" height="400px " style="background-color:black; padding-right:20px; padding-left:20px">
                        <h5 style=" color: ThreeDShadow">
                            We are not a big organisation, but just a bunch of decent people who wanted to find a way to make the world a nicer place.
                            We figured that if we got people to do lots of little things often, it would be easier than asking people to make grand
                            gestures that take time to plan and implement.
                        </h5>
                        <h4 style="color:#550404; padding-top:30px; padding-bottom:30px" class="text-center">
                            Successful people are always looking for opportunities to help others. Unsuccessful people are always asking, 'What's in it for me?'
                        </h4>

                        <h5 style="color: ThreeDShadow">

                            We know that it sounds simplistic and we know that there are so many horrible things going on in the world right now and we
                            also know that we do not hold the key to world peace, but we're at least going to try and see if we can make a difference.
                            You gotta start somewhere......
                        </h5>

                    </td>
                </tr>
            </tbody>
        </table>

    </div>

    <footer>

        <hr />



        @if (Model != 0)
        {
            <h3 class="text-center"><a href="/Home/ProfileCheck">PROFILE</a></h3>
            <h4 class="text-center" style="color:#c13636"><a href="/Home/Logout">LogOut</a></h4>
        }

        @if (Model == 0)
        {
            <h3 class="text-center"><a href="/Home/signin">sign in</a> or <a href=" /Home/signup">sign up</a></h3>
        }
        <div class="last pull-right">
            <h6 style="font-size: 20px; color: goldenrod; font-family: Comic sans ms;">
                <img src="~/Content/1.jpg" style=" width:50px ; height:40px " />
                You-Can-Give
            </h6>

        </div>

    </footer>
</body>
</html>

