@{
    ViewBag.Title = "noFunds";
}

<body class="signin container">

<div id="desc" class="des pull-center" style="width: 700px; font-family:Narkisim; color: #0094ff;">
    <h5>
        you haven't got any fund yet...
    </h5>
    </div>
 
</body>
